*{
    font: url('../fonts/Poppins-Regular.ttf');
    font-size: 16px;
    letter-spacing: 0.5px;
}
body{
    background: url("../images/trash.webp") no-repeat fixed;
}
/* .main{
    margin-top: 70px;
} */
.logo{
    max-height: 4rem;
    max-width: 4rem;
}
.logo1{
    border-right: 1px grey solid;
    padding-right: 5px;
}
.menu{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px;
    height: 100vh;
    z-index: 1; 
}
.navb{
    background-color: #ffffff ;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.328); */
    color: rgb(0, 0, 0);
}
.footer{
    bottom: 0px;
    margin-bottom: 0px;
    background-color: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px 1px;
    border-top: 1px solid rgba(128, 128, 128, 0.164);
    color: rgb(0, 0, 0);
    position: fixed;
}
.footer>p{
    font-size: 10px;
}
.icon-operation{
    background: #ffffff;
    color: #ffffff;
    padding: 6px 5px 6px 5px;
    box-shadow: rgba(50, 50, 93, 0.1) 0px 2px 5px -1px, rgba(0, 0, 0, 0.2) 0px 1px 3px -1px;
    border-radius: 1rem;
    font-size: small;
    text-decoration: none;
    cursor: pointer;
}
.logout{
    background: #0566db;
    color: #ffffff;
    font-size: smaller;
    padding: 5px 6px;
    box-shadow: rgba(28, 29, 30, 0.15) 0px 0.0625em 0.0625em, rgba(47, 51, 52, 0.15) 0px 0.125em 0.5em, rgba(92, 96, 97, 0.1) 0px 0px 0px 1px inset;
    border-radius: 1rem;
    text-decoration: none;
    cursor: pointer;
}
.logout:hover{
    color: #ffffff;
}
.inp{
    border-radius: 2rem;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.1) 0px 2px 5px -1px, rgba(0, 0, 0, 0.2) 0px 1px 3px -1px;
}
.inp2{
    border-radius: 2rem;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.1) 0px 2px 5px -1px, rgba(0, 0, 0, 0.2) 0px 1px 3px -1px;
}
.inp2:focus{
    box-shadow: rgba(31, 62, 156, 0.25) 0px 0.0625em 0.0625em, rgba(7, 83, 134, 0.25) 0px 0.125em 0.5em, rgba(9, 85, 162, 0.1) 0px 0px 0px 1px inset;
}
.inp3{
    border-radius: 2rem;
    border: none;
    background:#0566db ;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.1) 0px 2px 5px -1px, rgba(0, 0, 0, 0.2) 0px 1px 3px -1px;
}
.button-88 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-size: 15px;
    padding: 0.6em 0.2em 0.6em 0.2em;
    color: white;
   border: 0em;
    background: #0566db;
    box-shadow: rgba(31, 62, 156, 0.25) 0px 0.0625em 0.0625em, rgba(7, 83, 134, 0.25) 0px 0.125em 0.5em, rgba(9, 85, 162, 0.1) 0px 0px 0px 1px inset;
    letter-spacing: 0.05em;
    text-decoration: none;
    border-radius: 10em;
    cursor: pointer;
  }

.button-88:hover{
    color: #0566db;
    background: rgb(252, 252, 252);
}
.mytab{
    box-shadow: rgba(50, 50, 93, 0.1) 0px 2px 5px -1px, rgba(0, 0, 0, 0.2) 0px 1px 3px -1px;
    padding: 20px;
}
#menu{
    display: none;
    position: fixed;
    z-index:1;
    overflow: hidden;
    background: #ffffff;
} 
#menu>a{
    text-decoration: none;
    color: #0566db;
}
#menu>a:hover{
    text-decoration: none;
}
#menu .closebtn{
    margin-top: 15px;
}
/* .main>*:not(#menu){
    filter:blur(5px)
} */
@media only screen and (min-width:600px){
    #menu{
        display: none;
    }
}
@media only screen and (max-width:600px){
    /* .main>*:not(#menu){
        filter:blur(5px);
    }  */
}

